@import "../../styles/imports.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid $blue400;
  padding: 0 20px;
  button {
    padding: 5px;
  }
  button:hover {
    box-shadow: 0 3px $blue400;
  }
  & + li {
    margin-top: 10px;
    border-top: 1px solid #eee;
  }
}

.containerText {
  flex-grow: 1;
  text-align: center;
}

.containerButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.containerView {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
