$fontFira: "Fira Sans", sans-serif;
$fontPoppins: "Poppins", sans-serif;

//colors

$black: #000000;
$white: #fff;

//purple
$purple600: #6b46c1;
$purple500: #805ad5;
$purple400: #9f7aea;
$purple300: #b794f4;
$purple200: #d6bcfa;

//blue
$blue600: #2b6cb0;
$blue500: #3182ce;
$blue400: #4299e1;
$blue300: #63b3ed;

//red
$red600: #c53030;
$red500: #e53e3e;
$red400: #f56565;
$red300: #fc8181;

//green
$green400: #48bb78;
$green300: #68d391;

//gray
$gray900: #171923;
$gray800: #1a202c;
$gray700: #2d3748;
$gray600: #4a5568;
