@import "../../styles/imports.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 100px;

  border-bottom: 1px solid #aaa;
}

.navigation {
  ul {
    display: flex;

    gap: 15px;
    li {
      font-size: 16px;
      button {
        font-size: 16px;

        a {
          color: $gray900;

          padding: 10px;
          display: flex;
          align-items: center;

          gap: 5px;

          transition: color 0.3s;

          &:hover {
            color: $purple400;
            box-shadow: 0 5px $purple400;
          }
        }
      }
      a {
        color: $gray900;

        padding: 10px;
        display: flex;
        align-items: center;

        gap: 5px;

        transition: color 0.3s;

        &:hover {
          color: $purple400;
          box-shadow: 0 5px $purple400;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .container {
    padding: 0;
    flex-direction: column;
  }
}
